@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
    --background-color: lightblue;
    --font: "Poppins", sans-serif;
    --text-color: rgb(24, 26, 24);
    --padding: 10px;
    --margin-top: 60px;
    --large-size: 500%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--text-color);
    text-align: center;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: x-large;
}